<div class="product-page-screen">
  <div class="container">
    <div class="row g-3">
      <div class="col-md-12 col-lg-6">
        <div class="product-image-frame">
          <img
            [src]="productModel.image_path"
            alt="product image"
            class="product-image"
          />
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="row g-3">
          <div *ngFor="let field of types" class="col-md-12 col-lg-6">
            <h1 class="field-title">{{ field.name }}:</h1>
            <h3 class="field-name">
              {{ productModel[field.name] }}
            </h3>
          </div>
          <div class="col-md-12 col-lg-12">
            <div class="button-area">
              <button
                (click)="productLikeButton(productModel.id)"
                style="width: 50%"
                mat-raised-button
                class="product-button"
                [ngClass]="{ 'selected-button': isSelected(productModel.id) }"
              >
                <mat-icon
                  matSuffix
                  [ngClass]="{ 'selected-icon': isSelected(productModel.id) }"
                  >favorite_border</mat-icon
                >
                Beğen
              </button>
              <button
                (click)="
                  toggleProductInCart({
                    id: productModel.id,
                    name: productModel.model,
                    price: productModel.price,
                    image: productModel.image_path
                  })
                "
                style="width: 50%"
                mat-raised-button
                class="product-button"
                [ngClass]="{
                  'selected-button': isCartSelected(
                    productModel.id,
                    this.currentCategory
                  )
                }"
              >
                <mat-icon
                  matSuffix
                  [ngClass]="{
                    'selected-icon': isCartSelected(
                      productModel.id,
                      this.currentCategory
                    )
                  }"
                  >add_shopping_cart</mat-icon
                >
                Sepete Ekle
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
