<div class="product-page-screen">
  <div class="container">
    <div class="row g-3">
      <div class="col-lg-7 col-md-12 col-sm-12">
        <div class="product-image-frame">
          <img
            [src]="productModel.image_path"
            alt="product image"
            class="product-image"
          />
        </div>
      </div>
      <div class="col-lg-5 col-md-12 col-sm-12 product-info">
        <div>
          <h1 class="product-name">{{ productModel.model }}</h1>
          <p class="product-price">{{ productModel.price | currency }}</p>
        </div>
        <p class="product-description">
          Üretici: <b>{{ productModel.brand }}</b>
        </p>
        <div *ngIf="productCategory === 'Bilgisayar'">
          <p class="product-description">
            İşlemci: <b>{{ productModel.processor }}</b>
          </p>

          <p class="product-description">
            Ram: <b>{{ productModel.ram_Capacity }}</b>
          </p>

          <p class="product-description">
            Depolama Kapasitesi: <b>{{ productModel.storage_Capacity }}</b>
          </p>
        </div>
        <div *ngIf="productCategory === 'Kulaklık'">
          <p class="product-description">
            Renk: <b>{{ productModel.color }}</b>
          </p>
        </div>
        <div class="button-area">
          <button
            (click)="productLikeButton(productModel.id)"
            style="width: 50%"
            mat-raised-button
            class="product-button"
            [ngClass]="{ 'selected-button': isSelected(productModel.id) }"
          >
            <mat-icon
              (click)="toggleProductInCart()"
              matSuffix
              [ngClass]="{ 'selected-icon': isSelected(productModel.id) }"
              >favorite_border</mat-icon
            >
            Beğen
          </button>
          <button
            (click)="toggleProductInCart()"
            style="width: 50%"
            mat-raised-button
            class="product-button"
            [ngClass]="{ 'selected-button': isCartSelected(productModel.id) }"
          >
            <mat-icon
              matSuffix
              [ngClass]="{ 'selected-icon': isCartSelected(productModel.id) }"
              >add_shopping_cart</mat-icon
            >
            Sepete Ekle
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
