<div class="login-screen">
  <h1 style="color: white; font-size: 28px">
    {{ "RegisterHeader" | translate }}
  </h1>
  <app-register-screen
    [namePlacecholder]="'LoginNamePlaceholder' | translate"
    [passwordPlaceholder]="'LoginPasswordPlaceholder' | translate"
    [LoginButton]="'LoginButton' | translate"
    [RegisterButton]="'RegisterButton' | translate"
    [RegisterPasswordAgainPlaceholder]="
      'RegisterPasswordAgainPlaceholder' | translate
    "
    [ShowPassword]="'ShowPassword' | translate"
    [RegisterToLogin]="'RegisterToLogin' | translate"
  ></app-register-screen>
</div>
