<div class="login-container">
  <mat-form-field appearance="fill" style="width: 100%">
    <mat-label>{{ namePlacecholder }}</mat-label>
    <input matInput type="text" [(ngModel)]="name" />
    <mat-icon style="" matSuffix>person</mat-icon>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 100%">
    <mat-label>{{ passwordPlaceholder }}</mat-label>
    <input
      matInput
      [type]="hide ? 'password' : 'text'"
      [(ngModel)]="password"
    />
    <mat-icon style="" matSuffix>lock</mat-icon>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 100%">
    <mat-label>{{ RegisterPasswordAgainPlaceholder }}</mat-label>
    <input
      matInput
      [type]="hide ? 'password' : 'text'"
      [(ngModel)]="passwordRepeat"
    />
    <mat-icon style="" matSuffix>lock</mat-icon>
  </mat-form-field>
  <div
    style="
      display: flex;
      width: 100%;
      justify-content: flex-end;
      align-items: center;
      margin: 10px 0;
      color: white;
    "
  >
    <p style="margin: 0">{{ ShowPassword }}</p>
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </div>

  <div class="login-button-area">
    <a
      href="/giris"
      mat-raised-button
      style="background: #ffa800; width: 50%; padding: 25px 0; color: white"
    >
      {{ RegisterToLogin }}
    </a>

    <button
      (click)="registerFunction()"
      style="width: 50%; padding: 25px 0; text-align: center"
      mat-raised-button
      color="primary"
    >
      {{ RegisterButton }}
    </button>
  </div>
</div>
