<div style="background: #393e46; padding-top: 120px; min-height: 100vh">
  <div
    style="
      margin: auto;
      text-align: center;
      color: white;
      text-transform: uppercase;
    "
  >
    <h1 style="font-size: 32px">{{ AdminPanelHeader }}</h1>
  </div>
  <app-product-search-bar
    [options]="options"
    (newSearchEvent)="searchProductFun($event)"
    (newCurrentCategory)="changeCurrentCategory($event)"
    [searchbarPlaceholder]="searchbarPlaceholder"
  ></app-product-search-bar>
  <div class="admin-container">
    <a
      href="/create-category"
      style="width: 200px; padding: 25px 0; text-align: center"
      mat-raised-button
      color="primary"
    >
      Kategori Ekle
    </a>
    <a
      href="/add-product"
      style="width: 200px; padding: 25px 0; text-align: center"
      mat-raised-button
      color="primary"
    >
      Ürün Ekle
    </a>
  </div>
  <div class="admin-container">
    <span [ngSwitch]="getProduction().length > 0">
      <div class="admin-container" *ngSwitchCase="true">
        <div class="admin-card" *ngFor="let product of getProduction()">
          <img
            src="{{ product.image_path }}"
            alt="{{ product.name }}"
            class="admin-card-image"
          />
          <div class="admin-card-info">
            <h3 class="admin-card-title">{{ product.model }}</h3>
            <p class="admin-card-description">{{ product.brand }}</p>
            <div class="admin-card-price">
              {{ product.price | currency }}
            </div>
            <div class="card-bottom">
              <button
                (click)="
                  productUpdateButtonClick(this.currentCategory, product.id)
                "
                type="button"
                mat-flat-button
                class="admin-card-button update-button-color"
              >
                Güncelle
              </button>
              <button
                type="button"
                mat-flat-button
                class="admin-card-button delete-button-color"
                (click)="deleteButtonClick(this.currentCategory, product.id)"
              >
                Sil
              </button>
            </div>
          </div>
        </div>
        <mat-paginator
          style="width: 100%"
          #paginator
          class="demo-paginator"
          (page)="handlePageEvent($event)"
          [length]="length"
          [pageSize]="pageSize"
          [disabled]="disabled"
          [showFirstLastButtons]="showFirstLastButtons"
          [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
          [hidePageSize]="hidePageSize"
          [pageIndex]="pageIndex"
          aria-label="Select page"
        >
        </mat-paginator>
      </div>
      <div *ngSwitchCase="false">
        <h1 style="width: 100%; color: white">
          Aradığınız Kategori Bulunamadı
        </h1>
      </div>
      <p *ngSwitchDefault></p>
    </span>
  </div>
</div>
