<div class="product-top-section">
  <mat-form-field>
    <mat-label>Ürün</mat-label>
    <mat-select
      (selectionChange)="onProductSelect($event)"
      [value]="currentCategory"
      style="text-transform: capitalize"
    >
      <mat-option
        *ngFor="let option of options"
        [value]="option"
        style="text-transform: capitalize"
      >
        {{ option }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="search">
    <mat-label>{{ this.searchbarPlaceholder }}</mat-label>
    <input
      matInput
      [(ngModel)]="searchString"
      (ngModelChange)="searchedProductFunction(searchString)"
    />

    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>
