<nav class="navbar navbar-expand-lg mt-3" style="position: fixed; width: 100%">
  <div class="container">
    <a class="navbar-brand" href="#">VBE</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse d-flex justify-content-center"
      id="navbarNav"
    >
      <ul class="navbar-nav" style="font-size: 14px">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Ana Sayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ürünler">Ürünler</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/giris">Kullanıcı Giriş</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin">Admin Panel</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
