<nav class="navbar navbar-expand-md navbar-dark fixed-top py-3">
  <div class="container">
    <a class="navbar-brand px-3" href="/">VBE</a>
    <button
      class="navbar-toggler hidden-sm-up"
      type="button"
      (click)="isNavbarCollapsed = !isNavbarCollapsed"
      data-target="#navbarsDefault"
      aria-controls="navbarsDefault"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      [ngbCollapse]="isNavbarCollapsed"
      class="collapse navbar-collapse"
      id="navbarsDefault"
    >
      <ul
        class="navbar-nav me-auto mb-2 mb-lg-0"
        style="font-size: 14px; display: flex; justify-content: center"
      >
        <li class="nav-item px-3">
          <a class="nav-link active" aria-current="page" href="/">
            <mat-icon color="white">home</mat-icon>
            {{ "NavbarMenuItem1" | translate }}</a
          >
        </li>
        <li class="nav-item px-3">
          <a
            class="nav-link"
            [routerLink]="['/ürünler']"
            [queryParams]="{ category: 'Bilgisayar' }"
          >
            <mat-icon color="white">laptop</mat-icon>
            {{ "NavbarMenuItem2" | translate }}</a
          >
        </li>
        <span class="form-inline">
          <select
            class="form-control"
            #selectedLang
            (change)="switchLang(selectedLang.value)"
          >
            <option
              *ngFor="let language of translate.getLangs()"
              [value]="language"
              [selected]="language === translate.currentLang"
            >
              {{ language }}
            </option>
          </select>
        </span>
      </ul>
      <div *ngIf="hasCustomerToken()" style="display: flex">
        <a class="nav-link px-3" href="/üye-sayfasi">
          <mat-icon color="white">person</mat-icon
          >{{ "NavbarCustomerItem" | translate }}
        </a>
        <a class="nav-link px-3" href="/sepet" style="position: relative">
          <mat-icon color="white">shopping_cart</mat-icon>
          {{ "NavbarCartItem" | translate }}
          <span class="cart-number" color="primary">{{
            totalCartProduct
          }}</span>
        </a>
        <button class="nav-link px-3" (click)="deleteToken()">
          <mat-icon color="white">exit_to_app</mat-icon>
          {{ "ExitNavbar" | translate }}
        </button>
      </div>
      <div *ngIf="hasAdminToken()" style="display: flex">
        <a class="nav-link px-3" href="/admin">
          <mat-icon color="white">person</mat-icon>
          {{ "NavbarAdminItem" | translate }}
        </a>
        <button class="nav-link px-3" (click)="deleteToken()">
          <mat-icon color="white">exit_to_app</mat-icon>
          {{ "ExitNavbar" | translate }}
        </button>
      </div>
      <div
        *ngIf="!hasCustomerToken() && !hasAdminToken()"
        style="display: flex"
      >
        <a class="nav-link px-3" href="/giris">
          <mat-icon color="white">vpn_key</mat-icon>
          {{ "LoginNavbar" | translate }}</a
        >
      </div>
    </div>
  </div>
</nav>
