<div style="background: #393e46; padding-top: 120px; min-height: 100vh">
  <div
    style="
      margin: auto;
      text-align: center;
      color: white;
      text-transform: uppercase;
    "
  >
    <h1 style="font-size: 32px">{{ "CartHeader" | translate }}</h1>
  </div>
  <div class="container">
    <app-cart-table
      [CartCheckout]="'CartCheckout' | translate"
      [CartTotal]="'CartTotal' | translate"
      [CartEmpty]="'CartEmpty' | translate"
      [CartTableHeader1]="'CartTableHeader1' | translate"
      [CartTableHeader2]="'CartTableHeader2' | translate"
      [CartTableHeader3]="'CartTableHeader3' | translate"
      [CartTableHeader4]="'CartTableHeader4' | translate"
    ></app-cart-table>
  </div>
</div>
