<div style="background: #393e46; padding-top: 120px; min-height: 100vh">
  <div
    style="
      margin: auto;
      text-align: center;
      color: white;
      text-transform: capitalize;
    "
  >
    <h1 style="font-size: 32px">{{ "ProductsPageHeader" | translate }}</h1>
    <h2>
      "{{ currentCategory }}" araması için {{ productCount }} sonuç listeleniyor
    </h2>
  </div>
  <h1></h1>
  <app-products-container
    [currentProducts]="currentProducts"
    [currentCategory]="currentCategory"
    [userLikes]="this.userLikes"
    [options]="options"
    [length]="productCount"
    [searchbarPlaceholder]="'SearchbarPlaceholder' | translate"
    [ProductsButton]="'ProductsButton' | translate"
    [cartProducts]="cartProducts"
    [categoryId]="categoryId"
  ></app-products-container>
</div>
