<div class="admin-top-section">
  <mat-form-field
    class="example-full-width"
    style="width: 180px; text-align: center"
  >
    <mat-label>Ürün</mat-label>
    <input
      type="text"
      placeholder="Seçiniz"
      aria-label="Number"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <form class="example-form search-bar">
    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label>Aradığınız Ürün</mat-label>
      <input matInput />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </form>
  <div class="logs-button">
    <button mat-raised-button color="primary" style="height: 55px">
      Ürün Satış Listesi
    </button>
  </div>
</div>
