.admin-top-section {
  max-width: 1100px;
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 0;
  margin: auto;
}

.search-bar {
  display: flex;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
