<div style="background: #393e46; padding-top: 120px; min-height: 100vh">
  <div
    style="
      margin: auto;
      text-align: center;
      color: white;
      text-transform: uppercase;
    "
  >
    <h1 style="font-size: 32px">{{ "MemberPanelHeader" | translate }}</h1>
  </div>
  <app-products-container
    [currentProducts]="userLikes"
    [currentCategory]="currentCategory"
    [userLikes]="userLikes"
    [options]="options"
    [length]="userLikes.length"
    [searchbarPlaceholder]="'SearchbarPlaceholder' | translate"
    [ProductsButton]="'ProductsButton' | translate"
  ></app-products-container>
</div>
